*{      
    font-family:Verdana, Geneva, Tahoma, sans-serif}
    nav {
       margin-left: 90px 
         }
  body  {
    margin: 10px;
    padding: 10px; 
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
background-color: rgb(41, 11, 11);
    }


nav a{
    text-decoration:rgb(49, 49, 49);
    color: rgb(21, 193, 236);
    padding: 20px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold; 
    border-radius: none    }
nav a:hover{
    background-color: rgb(150, 2, 46); 
    color: rgb(241, 234, 247);
border-radius: 60px;}

  
h1{
    text-align: center;
    color: rgb(236, 5, 5);
    font-size: 90px;
    font-family: small-caps ;
    text-transform: uppercase;
    font-style:oblique;
    font-weight: bold; 
margin-top: 90px; }    

main h2{
    padding-bottom: 30px;
    text-align: center; 
    text-decoration: underline;
    color: rgb(29, 188, 216);
    font-size: 40px;
    font-family: small-caps ;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;  }
h3 {
    text-align: justify;
    font-size: 15px;
    font-family: small-caps;
    color: rgb(202, 29, 29);
    line-height: 1.6;
    font-style: italic;
    font-weight: bold;  
padding-bottom: 10px;
margin-bottom: 80px;}
    h3.text-default {
    text-align:center;  
    color: rgb(172, 25, 25)
    font-size: 15px }
   
   
    p {
    text-align: justify;  
    padding-bottom: 40px;
    text-align-last: center;
    display: center ;
    font-size: 20px;
    font-family: small-caps;
    color: rgb(230, 227, 216); }

    table,td,th,br{font-family: small-caps;
    border: 3px solid rgb(230, 210, 210);  
    color: rgb(187, 216, 226);
    border-collapse: collapse;
    padding-bottom: 20px; 
    padding: 10px;
    font-size: 20px;
    text-align: left; }  
    table{margin-left: auto;
    margin-right: auto; 
padding-bottom: 60px;}  

    form,label,input{
    display: block;
    font-family: small-caps 
    border: none;
    color: lightblue
    cursor: pointer;}
    input[type=text], select, textarea 

section,button{
    border-radius: 20px;
    font-size: large;
color: rgb(0, 0, 0); }

label{
    font-size: 18px;
    font-family: small-caps;
    color: rgb(235, 235, 235);
    font-weight: bold; }    
input,text{ 
background-color: rgb(233, 7, 7)4, 34, 34)
    

}  
h5{
    color: rgb(31, 187, 226);
    font-size: 15px;
    font-family: small-caps ;
    text-transform: uppercase;
    font-style:oblique;
    font-weight: bold;
    }  
    h6{   
    font-family: small-caps ;
    text-transform: uppercase;
    color: rgb(41, 194, 233);
    font-size: 15px;}  